* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
main
*/

#layout {
    padding: 0;
}

/*
left
*/

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}
.brand-title,
.brand-tagline {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
.portrait {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

/*
right
*/

.content {
    padding: 2em 1em 0;
}
.post {
    padding-bottom: 2em;
}
.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.icon {
  padding-right: 0px;
}
.icon-pad {
  padding-left: 20px;
  padding-right: 10px;
}


/*
resp
*/


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

}
