<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leon The Builder</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  </head>
  <body>


  <div id="layout" class="pure-g">

    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">Leon the Builder</h1>
        <h2 class="brand-tagline">Simply a developer</h2>
        <img width="100" height="100" alt="Hao (Leon) Wu" class="post-avatar" src="{{ url_for('static', filename='leon-the-builder.jpg') }}">
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      RIGHT
    </div>



  </div>


  </body>
</html>